* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #ffff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  background: #000;
  text-align: center;
  color: #fff;
  height: 100%;
  font-size: 30px;
  font-family: monospace;
}

header h3 {
  padding: 50px;
}

header nav {
  justify-self: normal;
  text-align: center;
  padding: 0px 10px 0px;
  margin: 5px;
  color: #000;
  font-size: 30px;
  padding: 50px;
  display: inline;
}

header nav a:hover {
  text-decoration: underline;
}

.hero-banner {
  background-image: url(images/hero-banner.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background: #fff;
  text-align: center;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 100px 0px 100px;
}

.portfolio {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio:hover .image {
  opacity: 0.3;
}

.portfolio:hover .middle {
  opacity: 1;
}

.text {
  background-color: #000;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

p {
  padding: 50px 0px 50px;
}

.contact {
  display: flex;
  text-align: center;
  background: #000;
  color: #fff;
  width: 100%;
  font-size: 20px;
  padding: 100px 0px 100px;
}

footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  background: #fff;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0px 5px 5px;
}

@media (max-width: 500px) {
  header {
    display: flex;
  }

  main {
    background: #fff;
    text-align: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px 0px 100px;
  }
}
